<!DOCTYPE html>
<html>
  {{> header }}
<body>
  {{> nav }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Females</li>
    </ol>
</nav>
    <!-- females page body -->
   <section class="gallery-block cards-gallery">
	    <div class="container">
	        <div class="strike">
              <span>{{ pageTitle }}</span>
	        </div>
	        <div class="row">
	            <div class="col-md-6 col-lg-6">
				<div class="card border-0 transform-on-hover">
          <a class="lightbox" href="/details?id=f1">
							<img src="/public/pics/female1.jpg" alt="Card Image" class="card-img-top">
            </a>
            <div class="card-body">
                <h6><a href="#">Wente Complete 98A 323D3</a></h6>
                <p class="text-muted card-text">
                  Reg. # R20450067 <br />
                  Sire: JAK Dimension 98A (R25564489) <br />
                  Dam: Burtins Ms W3 54424 (R50155623) <br />
                  Genetic Condition: DDF
                </p>
            </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-6">
					<div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="#">
							<!-- <img src="https://via.placeholder.com/350x250" alt="Card Image" class="card-img-top"> -->
							<img src="/public/pics/female2.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Wente Complete 98A 424D3</a></h6>
	                        <p class="text-muted card-text">
                          Reg. # R84750067 <br />
                          Sire: JAK Dimension 98A (R25564489) <br />
                          Dam: Burtins Ms W3 54424 (R50155623) <br />
                          Genetic Condition: DDF
                        </p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-6">
					<div class="card border-0 transform-on-hover">
            <a class="lightbox" href="#">
							<!-- <img src="https://via.placeholder.com/350x250" alt="Card Image" class="card-img-top"> -->
							<img src="/public/pics/female2.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Wente Complete 98A 323D3</a></h6>
	                        <p class="text-muted card-text">
                            Reg. # R20450067 <br />
                            Sire: JAK Dimension 98A (R25564489) <br />
                            Dam: Burtins Ms W3 54424 (R50155623) <br />
                            Genetic Condition: DDF
                          </p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-6">
					<div class="card border-0 transform-on-hover">
            <a class="lightbox" href="#">
              <img src="/public/pics/female1.jpg" alt="Card Image" class="card-img-top">
             </a>
                  <div class="card-body">
                      <h6><a href="#">Wente Complete 98A 323D3</a></h6>
                      <p class="text-muted card-text">
                        Reg. # R20450067 <br />
                        Sire: JAK Dimension 98A (R25564489) <br />
                        Dam: Burtins Ms W3 54424 (R50155623) <br />
                        Genetic Condition: DDF
                      </p>
                  </div>
              </div>
          </div>
	    </div>
</section>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="/public/js/site.js"></script>
</body>
</html>
