<!DOCTYPE html>
<html>
{{> header }}

<body>
  {{> nav }}
  <!-- home page body -->
  <section class="gallery-block cards-gallery">
    <div class="container">
      <div class="strike">
        <span>Welcome</span>
      </div>
      <div class="row row-eq-height">
        <div class="col-md-6 col-lg-6">
          <div class="card border-0 transform-on-hover">
            <a class="lightbox" href="/sires">
              <img src="/public/pics/sire1fixed.jpg" alt="Card Image" class="card-img-top">
            </a>
            <div class="card-body">
              <h6><a href="/sires">Sires</a></h6>
              <p class="text-muted card-text">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 h-100">
          <div class="card border-0 transform-on-hover">
            <a class="lightbox" href="/females">
              <img src="/public/pics/female1cropped.jpg" alt="Card Image" class="card-img-top">
            </a>
            <div class="card-body">
              <h6><a href="/females">Females</a></h6>
              <p class="text-muted card-text">A small river named Duden flows by their place and supplies it with the
                necessary regelialia. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="card border-0 transform-on-hover">
            <a class="lightbox" href="/females">
              <img src="/public/pics/female1.jpg" alt="Card Image" class="card-img-top">
            </a>
            <div class="card-body">
              <h6><a href="#">For Sale</a></h6>
              <p class="text-muted card-text">The Big Oxmox advised her not to do so, because there were thousands of
                bad Commas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 h-100">
          <div class="card border-0 transform-on-hover">
            <a class="lightbox" href="/females">
              <img src="/public/pics/female2.jpg" alt="Card Image" class="card-img-top">
            </a>
            <div class="card-body">
              <h6><a href="#">About Us</a></h6>
              <p class="text-muted card-text">Pityful a rethoric question ran over her cheek, then she continued her
                way.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="/public/js/site.js"></script>
</body>

</html>
