<!DOCTYPE html>
<html>
{{> header }}
<body>
  {{> nav }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sires</li>
    </ol>
</nav>
    <!-- sires page body -->
   <section class="gallery-block cards-gallery">
	    <div class="container">
	        <div class="strike">
              <span>{{ pageTitle }}</span>
	        </div>
	        <div class="row">
	            <div class="col-md-6 col-lg-6">
				        <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="#">
	                		<img src="/public/pics/sire1fixed.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Sire #1</a></h6>
	                        <p class="text-muted card-text">Even the all-powerful Pointing has no control about the blind texts. A small river named Duden.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-6">
	                <div class="card border-0 transform-on-hover">
						        <a class="lightbox" href="#">
		                	<img src="/public/pics/sire1fixed.jpg" alt="Card Image" class="card-img-top">
		                </a>
	                    <div class="card-body">
	                        <h6><a href="#">Sire #2</a></h6>
	                        <p class="text-muted card-text">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-6">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="#">
	                		<img src="/public/pics/sire1fixed.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Sire #3</a></h6>
	                        <p class="text-muted card-text">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-6">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="#">
	                		<img src="/public/pics/sire1fixed.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Sire #4</a></h6>
	                        <p class="text-muted card-text">Little Blind Text, that where it came from it would have been rewritten a thousand times.</p>
	                    </div>
	                </div>
	            </div>
	    </div>
    </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="/public/js/site.js"></script>
</body>
</html>
